http_interactions:
- request:
    method: GET
    uri: https://maelle.r-universe.dev/api/packages
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1790091925341"
      last-modified: Tue, 22 Sep 2026 15:45:25 GMT
      x-runiverse-cache: MISS
    body:
      string: |-
        [
          {
            "_type": "failure",
            "_user": "maelle",
            "Package": "cransays",
            "Maintainer": "Hugo Gruson <hugo.gruson+r@normalesup.org>",
            "_published": "2026-09-12T06:14:46.161Z",
            "_upstream": "https://github.com/lockedata/cransays",
            "_registered": true,
            "_commit": {
              "id": "aeaa1397fdb453e0a5b710ddc03a3fa04a89cf39",
              "author": "Hugo Gruson <git@hugogruson.fr>",
              "committer": "Hugo Gruson <git@hugogruson.fr>",
              "message": "Add link to source code\n",
              "time": 1783330856
            },
            "_maintainer": {
              "name": "Hugo Gruson",
              "email": "hugo.gruson+r@normalesup.org",
              "login": "bisaloo",
              "mastodon": "@grusonh@mastodon.social",
              "orcid": "0000-0002-4094-1476",
              "description": "Evolutionary Biologist turned Research Software Engineer in R.",
              "uuid": 10783929
            },
            "_distro": "resolute",
            "_jobs": [
              {
                "job": 103509714274,
                "time": 242,
                "config": "source",
                "r": "4.6.1",
                "check": "ERROR",
                "artifact": "10292923135"
              }
            ],
            "_host": "GitHub-Actions",
            "_buildurl": "https://github.com/r-universe/maelle/actions/runs/34323283362",
            "_created": "2026-09-12T06:14:46.161Z",
            "_owner": "lockedata",
            "_selfowned": false,
            "_universes": [
              "maelle"
            ],
            "_nocasepkg": "cransays",
            "_failure": {
              "version": "0.0.0.9000",
              "commit": {
                "id": "aeaa1397fdb453e0a5b710ddc03a3fa04a89cf39",
                "author": "Hugo Gruson <git@hugogruson.fr>",
                "committer": "Hugo Gruson <git@hugogruson.fr>",
                "message": "Add link to source code\n",
                "time": 1783330856
              },
              "buildurl": "https://github.com/r-universe/maelle/actions/runs/34323283362",
              "date": "2026-09-12T06:14:46.161Z",
              "job": {
                "job": 103509714274,
                "time": 242,
                "config": "source",
                "r": "4.6.1",
                "check": "ERROR",
                "artifact": "10292923135"
              }
            },
            "_binaries": []
          },
          {
            "Type": "Package",
            "Package": "roblog",
            "Title": "rOpenSci's blog guidance",
            "Version": "0.1.0",
            "Authors@R": "c(\nperson(\"Maëlle\", \"Salmon\", , \"maelle.salmon@yahoo.se\", role = c(\"aut\", \"cre\"),\ncomment = c(ORCID = \"0000-0002-2815-0399\")),\nperson(\"Stefanie\", \"Butland\", role = \"aut\"),\nperson(\"rOpenSci\", role = \"fnd\",\ncomment = c(\"https://ropensci.org/\", ROR = \"019jywm96\")),\nperson(\"Amanda\", \"Dobbyn\", , \"amanda.e.dobbyn@gmail.com\", role = \"ctb\"),\nperson(\"Christophe\", \"Dervieux\", role = \"ctb\"),\nperson(\"Romain\", \"LESUR\", role = \"ctb\")\n)",
            "Description": "It provides templates for roweb2 blogging and help for a\nGitHub forking workflow.",
            "License": "MIT + file LICENSE",
            "URL": "https://docs.ropensci.org/roblog/,\nhttps://github.com/ropenscilabs/roblog",
            "BugReports": "https://github.com/ropenscilabs/roblog/issues",
            "VignetteBuilder": "knitr",
            "Encoding": "UTF-8",
            "Roxygen": "list(markdown = TRUE)",
            "RoxygenNote": "7.2.1",
            "Config/testthat/edition": "3",
            "Config/ropensci/maintainer": "staff",
            "Config/pak/sysreqs": "cmake git make libgit2-dev libicu-dev libuv1-dev\nlibxml2-dev libssl-dev libx11-dev",
            "Repository": "https://maelle.r-universe.dev",
            "Date/Publication": "2026-02-18 14:57:52 UTC",
            "RemoteUrl": "https://github.com/ropenscilabs/roblog",
            "RemoteRef": "HEAD",
            "RemoteSha": "447b75c2aebdae2a8b2fd674d17da4ed0b9c999a",
            "NeedsCompilation": "no",
            "Packaged": {
              "Date": "2026-09-16 07:20:19 UTC",
              "User": "root"
            },
            "Author": "Maëlle Salmon [aut, cre] (ORCID:\n<https://orcid.org/0000-0002-2815-0399>),\nStefanie Butland [aut],\nrOpenSci [fnd] (https://ropensci.org/, ROR:\n<https://ror.org/019jywm96>),\nAmanda Dobbyn [ctb],\nChristophe Dervieux [ctb],\nRomain LESUR [ctb]",
            "Maintainer": "Maëlle Salmon <maelle.salmon@yahoo.se>",
            "_user": "maelle",
            "_type": "src",
            "_file": "roblog_0.1.0.tar.gz",
            "_fileid": "https://r2.ropensci.org/8a0e43be5efe816b955bba4e72caf308a2daa8abc0cda0380d761773bbd0a561",
            "_filesize": 93817,
            "_sha256": "8a0e43be5efe816b955bba4e72caf308a2daa8abc0cda0380d761773bbd0a561",
            "_expires": "2026-12-25T07:36:26.000Z",
            "_created": "2026-09-16T07:20:19.000Z",
            "_published": "2026-09-17T06:28:28.614Z",
            "_jobs": [
              {
                "job": 105099418581,
                "time": 164,
                "config": "linux-devel-x86_64",
                "r": "4.7.0",
                "check": "OK",
                "artifact": "10483892131"
              },
              {
                "job": 105099418635,
                "time": 190,
          [...]
